body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 22px 0;
  display: inline-block;
  border: unset;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #9EDCF1;
  color: white;
  padding: 14px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
  background-color: #45a049;
}

.signupbtn {
  float: left;
  width: 100%;
}

.container {
  padding: 16px;
  width: 55%;
  height: 55%;
  margin: auto;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: inline-block;
}

.msg p {
  border: 2 px solid;
}

/* @media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  } */
